<div class="row">
<div class="col-md-4 col-lg-6">
<img class="img-rounded" src="/assets/mikm.jpg" width="50%" height="50%"></img>
<h3>Mike McCabe</h3>
<i class="fa fa-envelope-o"></i> mike@nvisium.com<br>
<i class="fa fa-twitter"></i> @mccabe615<br>
<i class="fa fa-github"></i> github.com/mccabe615
</div>
<div class="col-md-4 col-lg-6">
<img class="img-rounded" src="/assets/kent.jpg" width="50%" height="50%"></img>
<h3>Ken Toler</h3>
<i class="fa fa-envelope-o"></i> ken.toler@nvisium.com<br>
<i class="fa fa-twitter"></i> @relotnek<br>
<i class="fa fa-github"></i> github.com/relotnek<br>
<i class="fa fa-bitbucket"></i> bitbucket.org/relotnek<br><br>
</div>
</div>