<table class="table table-striped">
<tr>
	<th>Name</th>
	<th>Twitter></th>
	<th>Email</th>
</tr>
<tr>
	<td>Ken Toler</td>
	<td>relotnek</td>
	<td>ken.toler@nvisium.com</td>
</tr>
<tr>
	<td>Mike McCabe</td>
	<td>mmcabe615</td>
	<td>mike@nvisium.com</td>
</tr>


</table>