
      <div align="center"><img src="/assets/buildrubyicon.jpg"></img></div>
      <div class="jumbotron">
        <h1>Mo' Money Meta Problems</h1>
        <p class="lead">For the purposes of demonstrating weaknesses in Metaprogramming with Ruby focusing on the send(), constantize(), and eval() methods</p>
        <p>A term, especially in art, used to characterize something that is characteristically self-referential ... That's so Meta</p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4><i class="fa fa-bomb"></i> <%= link_to "send()", demos_demosend_path %></h4>
          <p>An example of a change profile page, using the send method to determine what attribute of a users profile to change</p>

          <h4><i class="fa fa-bomb"></i> <%= link_to "contantize()", demos_democonstantize_path %></h4>
          <p>Mimics a backend validation function which validates fields in the Employee object, in the demo you can edit the hidden class field to validate any existing initialized Constant.</p>

          <h4><i class="fa fa-bomb"></i> <%= link_to "eval()", demos_demoeval_index_path %></h4>
          <p>A sample user profile page which loads user profiles, but containts eval code in the controller allowing for execution</p>
        </div>

        <div class="col-lg-6">
          <h4>Presenters</h4>
          <ul>
          <li>Mike McCabe</li>
          <li>Ken Toler</li>
          </ul>
        </div>
      </div>