
      <div align="center"><img src="/assets/buildrubyicon.jpg"></img></div>
      <div class="jumbotron">
        <h1>Mo' Money Meta Problems</h1>
        <p class="lead">For the purposes of demonstrating weaknesses in Metaprogramming with Ruby focusing on the send(), constantize(), and eval() methods</p>
        <p>A term, especially in art, used to characterize something that is characteristically self-referential ... That's so Meta</p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4><i class="fa fa-bomb"></i> <%= link_to "send()", demos_demosend_path %></h4>
          <p>An example of a change profile page, using the send method to determine what attribute of a users profile to change</p>

          <h4><i class="fa fa-bomb"></i> contantize()</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4><i class="fa fa-bomb"></i> eval()</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="col-lg-6">
          <h4>Presenters</h4>
          <ul>
          <li>Mike McCabe</li>
          <li>Ken Toler</li>
          </ul>
        </div>
      </div>